pre.src {
    padding: 1em;
}

.add::part(content),
.dual-add::part(content),
.multivariate::part(content)
{
    height: 5em;
}

.synth::part(content),
.echo::part(content),
.dual-add-again::part(content)
{
    height: 10em;
}
