pre.src {
    padding: 1em;
}

.add::part(content), .dual-add::part(content) {
    height: 5em;
}

.synth::part(content), .echo::part(content) {
    height: 10em;
}

.dual-add-again::part(content) {
    height: 10em;
}
